.profile__edit-button {
  padding: 0;
  border: 1px solid white;
  margin-left: 18px;
  width: 24px;
  transition: opacity .5s;
  aspect-ratio: 1/1;
  cursor: pointer;
  background: url(../../../images/pen.svg) no-repeat center/10px 10px;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 800px) {
  .profile__edit-button {
    width: 16px;
    margin-left: 10px;
    background: url(../../../images/pen.svg) no-repeat center/7.5px 7.5px;
  }
}
