.edit-button {
  width: 24px;
  transition: opacity .5s;
  padding-left: 18px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 16px;
}

.edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 680px) {
  .edit-button {
    width: 16px;
    padding-left: 10px;
    top: 10px;
  }
}
